
/* ----------------------the header ------------------------------------ */

.jumbotron {
    font-size: 60px;
    text-align:center;
    width: 100%;
    color: white; background-color:rgb(180, 52, 84);
    border-radius:10px;
    padding: 0.2rem 0.3rem;
    border: solid black 2px;
}

/* -------------------current date and time---------------------------------- */
#currentDay {
    background-color: rgb(240, 240, 164);
    font-size: 2em;
    padding: 10px;
    border-radius:10px;
    border: solid black 1px;
    padding-right: 20px;
}

/* --------------------------city search bar/user input-------------------------- */
#search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

button {
    float: right;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
  
button:hover {
    background: #0b7dda;
}
  
/* --------------------------today's forecast--------------------------- */
#today {
    background-color: rgb(150, 56, 145);
    width:200px;
    border: solid black 1px;
    border-radius: 10px;
    margin-left:21%;
    color: white;
}

#forecast {
    background-color:rgb(138, 138, 248);
    padding:40px;
    margin-top:3%;
    border: solid black 1px;
    border-radius:10px;
}

.card {
    background-color: rgb(85, 243, 111);
    width: 400px;
    border: solid black 1px;
    padding: 10px;
    margin-left: 30%;
    margin-top: 2%;
    text-align: center;
}

/* -------------------------5 day forecast-------------------------------- */
#fiveDay {
    font-size: 40px;
    padding-top: 20px;
    display: relative;
    
    background-color: yellow;
    height: 2em;
    margin-left: 35%;
    font-weight: bold;
    border: solid black 2px;
    width: 8em;
    padding: 5px;
    border-radius:10px;
    padding-left:10px;
    padding-right:10px;
    
}

.img1 {
    width: 7em;
    height: 7em;
    margin-left:35%;
}

.col {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#day2, #day3, #day4, #day5, #day6{
    border: solid black 2px;
    background-color:rgb(241, 241, 181);
    border-radius: 10px;
    padding-left: 10px;
    margin-left: 0.60rem;
    margin-right: 0.60rem;
}


/* ---------------------to dynamically change the screen size--------- */
@media screen and (min-width: 480px) {
    body {
      background-color: rgb(213, 221, 224);
    }
  }